{% extends 'base.html.twig' %}

{% block title %}Hello EtudiantsController!{% endblock %}




{% block body %}

{% if app.user == null %}
    <div>
        <a href="{{ path('app_login') }}" class="btn btn-info">Se connecter d'abord !!! 😜😜 >></a>
    </div>
{% endif %}

{% if app.user != null %}
<div class="container" style="margin-top:10px;">
      <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <div class="col-auto my-1">
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option selected>Choose type</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
                </select>
          </div>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModalLong">+</button>
</div>
<div class="container-fluid" style="position:relative;top:50px;bottom:100px;">
    <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Prenom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Matricule</th>
                    <th scope="col">Bourse</th>
                    <th scope="col">Numero chambre</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">tel</th>
                    <th scope="col">email</th>
                    <th scope="col">date de naissance</th>
                    <th scope="col">Modifier</th>
                    <th scope="col">Suprimmer</th>
                </tr>
            </thead>
            <tbody>
            {% for Etu in listEtu %}
                <tr class="table-light">
                    <td>{{Etu.prenom}}</td>
                    <td>{{Etu.nom}}</td>
                    <td>{{Etu.matricule}}</td>
                    <td>{{Etu.bourse}}</td>
                    <td>{{Etu.chambre.getNumChambre()}}</td>
                    <td>{{Etu.adresse}}</td>
                    <td>{{Etu.tel}}</td>
                    <td>{{Etu.email}}</td>
                    <td>03/03/1950</td>
                    <td><a href="" class="btn btn-outline-info">modifier</a></td>
                    <td><a href="" type="button" class="btn btn-outline-danger">supprimer</a></td>
                </tr>
            {% endfor %}    
            </tbody>
    </table>
</div>
<!--================ Inclision du formulair pour cree les etudiants =================-->
{{include('etudiants/formulairEregistre_Etu.html.twig')}}
{% endif %}
{% endblock %}

